MONGODB_URI="replace-with-your-mongodb-uri"
MONGODB_DB="madinah_arabic"
AUTH_BASE_URL="http://localhost:4173"
EMAIL_PROVIDER=""
EMAIL_FROM=""
EMAIL_FROM_NAME="al-wadih learning"
EMAIL_REPLY_TO=""
SENDGRID_API_KEY=""
RESEND_API_KEY=""
EMAIL_WEBHOOK_URL=""
EMAIL_WEBHOOK_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""
MICROSOFT_TENANT="common"
APPLE_CLIENT_ID=""
APPLE_TEAM_ID=""
APPLE_KEY_ID=""
APPLE_PRIVATE_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_PREMIUM_PRICE_ID=""
STRIPE_PRICE_MONTHLY=""
STRIPE_PRICE_SIX_MONTHS=""
STRIPE_PRICE_YEARLY=""
STRIPE_PRICE_LIFETIME=""
STRIPE_DEFAULT_PLAN_ID="monthly"
STRIPE_PREMIUM_PRICE_LABEL="Premium subscription"
STRIPE_WEBHOOK_SECRET=""
OBSERVABILITY_SERVICE_NAME="madinah-arabic"
OBSERVABILITY_WEBHOOK_URL=""
OBSERVABILITY_WEBHOOK_SECRET=""
OBSERVABILITY_SAMPLE_RATE="1"
OBSERVABILITY_TIMEOUT_MS="2500"
